{% extends "catalog/base_generic.html" %}

{% block title%}<title>Homepage</title>{% endblock %}

{% block content %}
  <h1>Local Library Home Hello!</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p> <!--the Django built-in template tag pluralize to add an "s" when the page has been visited multiple times.-->
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <ul> Books with 'la'
        {% for book in books_l %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
{% endblock %}
