{% extends "catalog/base_generic.html" %}

{% block title%}<title>Homepage</title>{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Homepage</h2>
  <p>The library has the following record counts:</p>
  

  <table class="table">
    <tbody>
      <tr>

        <td>Books</td>
        <td>{{ num_books }}</td>
      </tr>
      <tr>
        <td>Copies</td>
        <td>{{ num_instances }}</td>
      </tr>
      <tr>
        <td>Copies avaible</td>
        <td>{{ num_instances_available }}</td>
      </tr>
      <tr>
        <td>Authors</td>
        <td>{{ num_authors }}</td>
      </tr>
      <tr>
        <td>Genres</td>
        <td>{{ num_genres }}</td>
      </tr>
    </tbody>
  </table>
</div>

<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p> <!--the Django built-in template tag pluralize to add an "s" when the page has been visited multiple times.-->
{% endblock %}
